.row-with-four-columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .column {
    flex: 1;
    /* margin: 1rem; */
  }
  
  .column img {
    width: 100%;
    height: auto;
  }
  