.signature-footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .7rem;
  background-color: #141414; /* adding black background */
  }
  
  .signature-footer-logo {
  height: 12px;
  margin-right: 5px;
  margin-bottom: 13px;
  }
  
  .signature-footer-text {
  font-size: 14px;
  font-family: 'Space Mono', monospace;
  color: white; /* changing the text color to white */
  }
  
  .signature-footer-link {
  color: inherit;
  text-decoration: none;
  animation: color-change-5x 8s linear infinite alternate both;
  }
  
  
  @keyframes color-change-5x {
    0% {
      color: #19dcea;
      text-shadow: 0 0 2px #19dcea;
    }
    25% {
      color: #b22cff;
      text-shadow: 0 0 2px #b22cff;
    }
    50% {
      color: #ea2222;
      text-shadow: 0 0 2px #ea2222;
    }
    75% {
      color: #f5be10;
      text-shadow: 0 0 2px #f5be10;
    }
    100% {
      color: #3bd80d;
      text-shadow: 0 0 2px #3bd80d;
    }
  }
  